.column-container {
    height: 100%;
    width: 60%;
    margin: auto;
}

.page-title-container {
    width: 77vw;
    margin-left: 8vw;
}

.page-title {
    padding-top: 2vh;
    padding-bottom: 0.75vh;
    font-weight: normal !important;
}