.side-menu {
    height: 96vh;
    width: 18vw;
    margin: 2vh 1vw 2vh 1vw;
    background-color: var(--custom-white);
    color: var(--custom-black);
}

.user-picture {
    height: 10vw;
    width: 10vw;
    clip-path: circle();
}