/* ------------------------------- */
/* Variables */
:root {
    --custom-light-white: #FAFAFA;
    --custom-white: white;
    --custom-black: black;
    --custom-light-blue: #0087B8;
    --custom-blue: #003E54;
    --custom-red: #F14747;
    --custom-light-grey: #D9D9D9;
    --custom-grey: grey;
    --custom-dark-grey: #6D6D6D;
}



/* ------------------------------- */
/* Color Classes */
.background-black {
    background-color: var(--custom-black);
}

.background-blue {
    background-color: var(--custom-blue);
}

.background-red {
    background-color: var(--custom-red);
}

.background-light {
    background-color: var(--custom-grey);
}

.text-black {
    color: var(--custom-black);
}

.text-white {
    color: var(--custom-white);
}

.text-grey {
    color: var(--custom-grey);
}



/* ------------------------------- */
/* Box and Border Classes */
.box-shadow {
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,.25) !important;
}

.round-radius {
    border-radius: 50%;
}

.border-radius {
    border-radius: 15px;
}

.brdr {
    border: 0.5px solid var(--custom-light-grey);
}



/* ------------------------------- */
/* Alignement Classes */
.centered-container {
    position: relative;
    text-align: center;
}

.center-element {
    display: flex;
    align-items: center;
}

.center-vertical {
    display:flex;
    align-items:center;
}

.center-bottom {
    position: absolute;
    bottom: 0px;
}

.align-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
}

.inline-left {
    float:left; 
    display:inline; 
}

.flex-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.float-right {
    float: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}



/* ------------------------------- */
/* Misc. Classes */
.no-paddmarg {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.no-pm {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.spaced-container {
    display: flex;
    justify-content: space-between;
}

.page-title-container {
    width: 75vw;
    margin-left: 8vw;
}

.page-title {
    padding-top: 2vh;
    padding-bottom: 0.75vh;
    font-weight: normal !important;
}

.column-container {
    height: 100%;
    width: 60%;
    margin: auto;
}

.a-button, .primary-button {
    color: var(--custom-white) !important;
    background-color: var(--custom-blue) !important;
    padding: 4px 10px 4px 10px !important;
    text-decoration: none !important;
    border-radius: 5px !important;
}

.a-button:hover, .primary-button:hover {
    color: var(--custom-white) !important;
    background-color: var(--custom-light-blue) !important;
    cursor: pointer !important;
}



/* ------------------------------- */
/* Height Classes */
.height-20 {
    height: 20vh;
}

.height-10 {
    height: 10vh;
}

.height-8 {
    height: 8vh;
}

.height-5 {
    height: 5vh;
}



/* ------------------------------- */
/* Width Classes */
.width-half {
    width: 50%;
}

.width-full {
    width:100%;
}



/* ------------------------------- */
/* Padding Classes */
.pt-5 {
    padding-top: 5vh;
}

.pl-4 {
    padding-left: 3.5vw;
}

.pr-1 {
    padding-right: 1vw;
}

.pl-1 {
    padding-left: 1vw;
}

.pe-1 {
    padding: 1vh 1vw 1vh 1vw;
}

.pr-05 {
    padding-right: 0.5vw;
}

.pb-0 {
    padding-bottom: 0;
}



/* ------------------------------- */
/* Margin Classes */
.mt-15 {
    margin-top: 15vh;
}

.mt-10 {
    margin-top: 10vh;
}

.ml-8 {
    margin-left: 8vw !important;
}

.mr-8 {
    margin-right: 8vw !important;
}

.mb-3 {
    margin-bottom: 3vh;
}

.mt-2 {
    margin-top: 1.5vh !important;
}

.ml-2 {
    margin-left: 1.5vw;
}

.mr-2 {
    margin-right: 1.5vw;
}

.mb-2 {
    margin-bottom: 1.5vh;
}

.mb-05 {
    margin-bottom: 0.5vh;
}

.mb-0 {
    margin-bottom: 0;
}

.margin-auto {
    margin: auto !important;
}



/* ------------------------------- */
/* Text Manipulation Tags */
.bold-text {
    font-weight: bold !important;
}

.unbold-text {
    font-weight: normal !important;
}

.text-s16 {
    font-size: 1vw !important;
}

.text-s32 {
    font-size: 2vw !important;
}

.subtitle-text {
    color: var(--custom-black) !important;
    font-weight: bold;
    font-size: 1.5vw;
}



/* ------------------------------- */
/* Base Tags */
h1 {
    color: var(--custom-blue) !important;
    font-size: 2vw !important;
    font-weight: bold !important;
}

h2{
    color: var(--custom-blue) !important;
    font-size: 1.5vw !important;
    font-weight: bold !important;
}

h3{
    color: var(--custom-dark-grey) !important;
    font-size: 0.95vw !important;
    font-weight: normal !important;
}

h6{
    font-weight: bold !important;
    font-size: 0.95vw !important;
}

p {
    color: var(--custom-dark-grey) !important;
    font-size: 0.75vw !important;
}

th {
    text-align: center !important;
    font-size: 0.75vw !important;
}

hr.solid {
    border-top: 3px solid var(--custom-black);
    margin-bottom: 2vh;
}

tr {
    text-align: center !important;
    font-size: 0.75vw !important;
}

label, input, select, option, button {
    font-size: 0.75vw !important;
}



/* ------------------------------- */
/* Animations */
@keyframes fadeInAnimationLeft {
    from{
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
}

@keyframes fadeInAnimationTop {
    from{
        transform: translate3d(0, -100%, 0);
        visibility: visible;
    }
}

.rotate-180 {
    transform: rotate(180deg);
}

.rotate-90 {
    transform: rotate(90deg);
}