.special-width {
    width: 80vw !important;
    height: 38vh !important;
    padding-top: 5vh !important;
    padding-left: 25.5vw !important;
    padding-right: 25.5vw !important;
}

button {
    border-radius: 100% !important;
    height: 1.3vh !important;
    width: 1.3vh !important;
    background-color: #D9D9D9 !important;
}

button.active {
    background-color: #003E54 !important;
}

.asdgsd {
    margin-top: 5vh;
}

.reposition {
    padding-left: 2.75vw !important;
    padding-top: 0.5vh !important;
}

.width-401 {
    float:left; 
    display:inline; 
    border-radius: 1vw;
    width: 40.2vw !important;
    height: 40vh !important;
    padding-top: 2vh;
    padding-left: 2vw;
    margin-bottom: 3vh !important;
    /* margin: 0vh 5.5vw 10vh 5.5vw !important; */
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,.25);
}

.width-4012 {
    float:left; 
    display:inline; 
    width: 37.5vw !important;
    height: 43.3vh;
    padding: 0vh 5.5vw 1vh 5.5vw;
    margin-top: 4vh !important;
}

.new-widthisgood {
    float:left; 
    display:inline; 
    width: 10vw !important;
    margin: 0px 0.9375vw 0px 0.9375vw;
}

.margin346 {
    margin-left: 12.8vw !important;
}

.full-width12345asdf {
    width: 80vw;
    height: 43.3vh;
}

.full-width12345asdf2 {
    width: 37.5vw;
    height: 8vh;
}

.add-button-style2 {
    height: 3.8vh !important;
    width: 9.7vw !important;
    background-color: #003E54;
    color: #FAFAFA;
    text-decoration: none;
    font-size: 16px;
    border-radius: 1vh;
}

.somethingcooler {
    margin-top: 2vh !important;
    border-radius: 1vh !important;
    height: 3.8vh !important;
    width: 10vw !important;
    padding-top: 0.3vh !important;
    background-color: #003E54 !important;
}

.sizebutton2 {
    margin-left: 8.5vw !important;
    margin-top: 3vh;
    height: 3.8vh !important;
    width: 10vw !important;
}

.marginsomethingcool {
    margin-left: 10vw !important;
}
.losingtheplot {
    width: 50vw;
    margin-left: 15vw;
    margin-top: 10vh;
}

.wrtfbnbfdvc {
    margin-left: 20vw !important;
}