.big-width123456789 {
    float:left; 
    display:inline;
    width: 14vw !important;
    text-align: right !important;
    margin-bottom: 0vh;
}

.align-right123 {
    text-align: right !important;
}

.progress-self {
    width: 29vw !important;
}

/* progress[value] {
    -webkit-appearance: none;
    -webkit-progress-bar: black !important;
    height: 1vh !important;
    border-radius: 1vw;
    background-color: #D9D9D9;
    border-color: #FAFAFA;
} */

.something123 {
    margin-bottom: 0vw !important;
    padding-bottom: 0vh !important;
}