.top-banner {
    position: relative;
    width: 100vw;
    height: 12vh;

    animation: fadeInAnimationTop;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.sidebar-container {
    width: 17vw;
    height: 100vh;
}

.main-container {
    width: 83vw;
    height: 88vh;
    margin-top: 12vh;
}