.account-card {
    height: 22vh;
    width: 29vw !important;
    border-radius: 1vw;
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,.25);
    padding: 2vh 1vw 2vh 1vw;
}

.carousel-inner, .carousel, .slide, .carousel-dark {
    /* padding-left: 25.5vw !important; */
    
    border-radius: 1vw;
    box-shadow: 0px 2px 10px 2px rgba(0,0,0,.10);
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    visibility: hidden;
}

.carousel-indicators {
    margin-top: 23vh !important;
    bottom: initial !important;
}

.asdfghjk {
    margin: 1vh 0vw 1vh 0vw !important;
}

.text-cardaccount {
    text-align: left !important;
    font-size: 40px !important;
    color: #000000;
    margin-top: 5vh;
}

.title-card123 {
    color: #696262;
    font-size: 16px !important;
    font-weight: normal !important;
}

.title-card123456 {
    color: #696262;
    font-size: 16px !important;
    font-weight: normal !important;
    width: 14vw !important;
    padding-right: 2.3vw;
}

.title-card1234 {
    color: black;
    font-size: 16px !important;
    font-weight: normal !important;
    margin-top: 3vh;
}

.small-width123456 {
    float:left; 
    display:inline; 
    width: 15vw !important;
}

.big-width123456 {
    float:left; 
    display:inline; 
    width: 14vw !important;
    text-align: right !important;
}

.full-width123456 {
    width: 29vw !important;
}

.random-width123 {
    float:left; 
    display:inline; 
    width: 5.5vw !important;
}